<!doctype html>

{% load staticfiles %}

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">

<!--
••••••••••••••••••••••••

Powered by Type & Grids™
www.typeandgrids.com

••••••••••••••••••••••••
-->

<title>C.S.Lewis &mdash; 惊喜之旅</title>
<meta name="description" content="The Chinese Website of English novelist C.S.Lewis">
<meta name="author" content="Jeremy Anifacc">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================================================================= -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/themes/type_06.css' %}">
<link rel="stylesheet" href="{% static 'css/themes/color_06.css' %}">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Favicons
================================================================================================= -->
<link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" />
<link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}" />
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}" />
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}" />

<!-- JS
================================================================================================= -->
<script src="{% static 'js/libs/modernizr.min.js' %}"></script>
<script src="{% static 'js/libs/jquery-1.8.3.min.js' %}"></script>
<script src="{% static 'js/libs/jquery.easing.1.3.min.js' %}"></script>
<script src="{% static 'js/libs/jquery.fitvids.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

<!-- Font Awesome CDN-->
<script src="https://use.fontawesome.com/4188ab1979.js"></script>

</head>
<body>

<!-- Write preloader to page - this allows the site to load for users with JS disabled -->
<script type="text/javascript">
	document.write("<div id='sitePreloader'><div id='preloaderImage'><img src="{% static 'images/site_preloader.gif' %}" alt='Preloader' /></div></div>");
</script>

<div class="container">
	
	<!-- Header begins ========================================================================== -->
	<header class="sixteen columns">
		<div id="logo">
			<h1>C.S.Lewis</h1>
			<h2>惊喜之旅 &mdash; 路易斯(路益士)中文网站</h2>
			<!--
			<img src="images/logo.png" width="275" height="35" alt="Logo" />
			-->
		</div>
		<nav>
			<ul>
                <li>
	                <button id="homePage">
	                    <i class="fa fa-home" aria-hidden="true"></i>&nbsp;主页
	                </button>
                </li>
                <li>
                    <button id="bioPage">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;生平
                    </button>
                </li>
				<li>
                    <button id="workPage">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp;作品
                    </button>
                </li>
				<li>
                    <button id="aboutPage">
                        <i class="fa fa-hand-spock-o" aria-hidden="true"></i>&nbsp;关于
                    </button>
                </li>
                <!-- blogPage -->
			</ul>
		</nav>
		<hr />
	</header>
	<!-- Header ends ============================================================================ -->
	
	<div id="quote" class="sixteen columns">
        <i class="fa fa-quote-left fa-3x fa-pull-left"></i>
        <blockquote>
            <h3>只看地图却不去航行，你就哪儿也去不了。同样，没有地图就去航行，你也不可能远离灾祸。</h3>
            <cite><h4>返璞归真</h4></cite>
        </blockquote>
	</div>

    
    <hr>
    <!-- Home page begins -->
    <div id="home">
        
        <div class="eight columns">
            <center><img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1e/C.s.lewis3.JPG/220px-C.s.lewis3.JPG" title="Lewis picture from wikipedia"></center>
            <p style="text-align:center">C.S.路易斯(摘自 <a href="https://en.wikipedia.org/wiki/C._S._Lewis">Wikipedia</a>)</p>
        </div>
        
        <div class="eight columns">
            <h3>C.S.路易斯(1898~1963)</h3>
            <p>20世纪英国小说家、诗人、学者、中世纪作家、文学评论家、散文作家、神学家、演说家、讲师和基督教辩护者。他26岁即登牛津大学教席，被当代人誉为“最伟大的牛津人”。1954年，剑桥大学聘其为中世纪及文艺复兴时期英语文学教授，这个头衔保持到他退休。</p>
            <p>他一生中完成三类不同的事业，被成为“三个C.S.路易斯”:<br>
            (1) 杰出的牛津大学文学史家和批评家，代表作包括《牛津大学文学史·中世纪卷》。<br>
            (2) 深受欢迎的科幻作家和儿童文学作家，代表作包括《太空》三部曲和《纳尼亚传奇》三部曲。<br>
            (3) 通俗的基督教神学家和演说家，代表作包括《天路回程》、《魔鬼家书》、《返璞归真》、《四种爱》等。</p>
            <p>路易斯一生著书逾30部，有学术著作、小说、诗集、童话，他在全世界拥有众多读者，时至今日，他的作品每年还继续吸引着无数新读者进入“纳尼亚世界”。</p>
        </div>
        
    </div>
    <!-- Home page ends -->
    
    <!-- Bio page begins -->
    <div id="bio">
        
        <div class="sixteen columns">
            <h3>C.S.路易斯年表</h3>
            
            <dl>
                <dt>1824年12月10日</dt>
                <dd>乔治·麦克唐纳(<a href="https://en.wikipedia.org/wiki/George_MacDonald">George MacDonald</a>)出生于苏格兰阿伯丁郡（1905年去世），路易斯后来谈到乔治的著作时说：“他的著作改变了我的想象力，甚至使我的想象力经历了一番洗礼···”</dd>
                
                <dt>1862年5月18日</dt>
                <dd>路易斯(杰克)的母亲弗罗伦丝·奥古斯塔·汉密尔顿·路易斯(Florence Augusta Lewis, née Hamilton)，出生于爱尔兰科克郡的皇后城。</dd>
                
                <dt>1863年8月23日</dt>
                <dd>路易斯的父亲阿尔伯特·詹姆斯·路易斯(Albert James Lewis)出生于爱尔兰科克郡的科克。</dd>
                
                <dt>1874年5月29日</dt>
                <dd>G.K.切斯特顿(<a href="https://en.wikipedia.org/wiki/G._K._Chesterton">Gilbert Keith Chesterton</a>)（1936年逝世）出生。他是路易斯主要的精神导师。</dd>
                
                <dt>1892年1月3日</dt>
                <dd>托尔金(<a href="https://en.wikipedia.org/wiki/J._R._R._Tolkien">John Ronald Reuel Tolkien</a>《魔戒》作者)出生于南非布隆方丹。他是路易斯终生密友、同事，<a href="https://en.wikipedia.org/wiki/Inklings">Inklings</a>“淡墨会”的成员。（“淡墨会”是一群朋友组成的社团，在1930年至1963年间定期聚会，分享彼此的作品，一边品啜饮料，一边高谈阔论。）</dd>
                
                <dt>1894年8月29日</dt>
                <dd>Albert James Lewis 和 Florence Augusta Lewis, née Hamilton 在<a href="https://en.wikipedia.org/wiki/Belfast">贝尔法斯特</a>的圣马可教堂结婚。</dd>
                
                <dt>1895年6月16日</dt>
                <dd>C.S.路易斯的兄长沃伦·汉密尔顿·路易斯(<a href="https://en.wikipedia.org/wiki/Warren_Lewis">Warren Lewis</a>)出生在贝尔法斯特郊外的敦德拉别墅。</dd>
                
                <dt>1898年11月29日</dt>
                <dd>阿尔伯特·路易斯（1863-1929）和弗罗伦丝·奥古斯塔·汉密尔顿·路易斯（1862-1908）在北爱尔兰贝尔法斯特生下克莱夫·斯泰普力·路易斯(Clive Staples Lewis)。</dd>
                
                <dt>1899年1月29日</dt>
                <dd>C.S.路易斯在贝尔法斯特的圣马可教堂受洗，给他施洗的是他的外祖父，圣马可教堂的教长，托马斯·汉密尔顿神父。</dd>
                
                <dt>1905年4月</dt>
                <dd>路易斯全家（阿尔伯特、弗罗拉、沃伦、杰克）&mdash; 从敦德拉别墅迁往贝尔法斯特市郊的新居，“小草坪”。</dd>
                
                <dt>1908年2月15日</dt>
                <dd>路易斯的母亲弗罗拉·路易斯因癌症做了一次大手术。</dd>
                
                <dt>1908年8月23日</dt>
                <dd>弗罗拉·汉密尔顿·路易斯在丈夫阿尔伯特45岁生日那天因癌症去世（享年46岁），撇下两个年幼的儿子：13岁的沃伦和9岁的杰克。阿尔伯特·路易斯的父亲和哥哥业余同年去世。</dd>
                
                <dt>1908年9月</dt>
                <dd>路易斯（9岁）就读于英格兰<a href="https://en.wikipedia.org/wiki/Watford">沃特福特</a>的<a href="https://en.wikipedia.org/wiki/Wynyard_School">文亚德学校</a>。</dd>
                
                <dt>1910年9月</dt>
                <dd>路易斯（11岁）进入贝尔法斯特<a href="https://en.wikipedia.org/wiki/Campbell_College">坎普贝尔学院</a>，就读4个月。</dd>
                
                <dt>1911年1月</dt>
                <dd>12岁的路易斯入读英国<a href="https://en.wikipedia.org/wiki/Malvern,_Worcestershire">麦尔文</a>的瑟堡公学（the preparatory school Cherbourg House）。</dd>
                
                <dt>1913年9月</dt>
                <dd>路易斯（14岁）获得奖学金，就读于<a href="https://en.wikipedia.org/wiki/Malvern_College">麦尔文学院</a>。</dd>
                
                <dt>1914年1月</dt>
                <dd>路易斯于贝尔法斯特的童年玩伴亚瑟·格里斯夫(Arthur Greeves)开始终生的书信往来。</dd>
                
                <dt>1914年9月</dt>
                <dd>路易斯（15岁）被送往萨雷的大布克汉姆，从师于父亲曾经的老师威廉·柯克帕特里克(<a href="https://en.wikipedia.org/wiki/William_T._Kirkpatrick">William T. Kirkpatrick</a>)，直到1917年3月。在路易斯接受的教育中，柯克帕特里克对他的影响最大。</dd>
                
                <dt>1914年11月4日</dt>
                <dd>沃伦·路易斯随英国远征军七师辎重队四连被派往法国。</dd>
                
                <dt>1915年4月18日</dt>
                <dd>海伦·乔伊·戴维曼(<a href="https://en.wikipedia.org/wiki/Joy_Davidman">Joy Davidman</a>)出生于纽约。</dd>
                
                <dt>1916年12月13日</dt>
                <dd>路易斯（18岁）获得牛津大学学院的奖学金。</dd>
                
                <dt>1917年1月</dt>
                <dd>路易斯回到大布克汉姆，在柯克帕特里克门下准备牛津大学入学考试的初试。</dd>
                
                <dt>1917年4月</dt>
                <dd>路易斯进入牛津大学深造，时年18岁。</dd>
                
                <dt>1917年11月17日</dt>
                <dd>路易斯随团队 &mdash; 筋斗轻步兵团(<a href="https://en.wikipedia.org/wiki/Somerset_Light_Infantry">Somerset Light Infantry</a>)调往法国。</dd>
                
                <dt>1917年11月29日</dt>
                <dd>路易斯（19岁生日当天）抵达法国前线的战壕。</dd>
                
                <dt>1918年2月</dt>
                <dd>在法国的特雷波特，19岁的路易斯因战壕热住院治疗一个月。</dd>
                
                <dt>1918年3月24日</dt>
                <dd>有报告说，路易斯在军队的室友和朋友，爱德华·帕迪·摩尔，在一次军事行动中失踪。后来有消息成，3月21日，帕迪在法国帕尼 (Pargny) 一次抵抗德国进攻的军事行动中丧身。</dd>
                
                <dt>1918年4月15日</dt>
                <dd>在阿拉斯战役中，路易斯在贝伦松山被一颗英方的炮弹击中而负伤。</dd>
                
                <dt>1918年5月</dt>
                <dd>路易斯被转到伦敦的恩斯莱宫医院，继续疗伤。</dd>
                
                <dt>1918年6月25日</dt>
                <dd>路易斯被转到布里斯托一家康复中心（位于克里丰附近的阿什顿庄园），以便痊愈战时所受的伤。</dd>
                
                <dt>1918年11月11日</dt>
                <dd><a href="http://baike.baidu.com/item/%E8%B4%A1%E6%AF%94%E6%B6%85%E5%81%9C%E6%88%98%E5%8D%8F%E5%AE%9A">《停战协议》</a> 签订，标志着第一次世界大战的结束。</dd>
                
                <dt>1919年1月</dt>
                <dd>路易斯加入马特莱特协会并被选举为会长。该协会是牛津大学学院的一个文学社团。</dd>
                
                <dt>1919年1月13日</dt>
                <dd>20岁的路易斯结束了在一战中的服役生涯，复员回到牛津。</dd>
                
                <dt>1919年3月20日</dt>
                <dd>路易斯的处女作《被缚的精神：系列抒情诗》(<a href="https://en.wikipedia.org/wiki/Spirits_in_Bondage">Spirits in Bondage</a>)由伦敦威廉·海纳曼出版社出版。作者署名为克莱夫·汉密尔顿(Clive Hamilton)。</dd>

                <dt>1920年3月21日</dt>
                <dd>路易斯在牛津大学的文科荣誉考试（学士学位的第一次考试） &mdash; 希腊语和拉丁语考试中荣获第一，继而开始攻读人文科学课程。</dd>
                
                <dt>1921年3月22日</dt>
                <dd>路易斯挚爱的老师，威廉·T·柯克帕特里克去世，享年71岁。</dd>
                
                <dt>1922年8月</dt>
                <dd>路易斯在古典人文学科大考 &mdash; 古典哲学考试中获优。</dd>
                
                <dt>1922年10月</dt>
                <dd>路易斯开始在牛津大学学习英语语言文学。</dd>
                
                <dt>1923年7月16日</dt>
                <dd>路易斯在英语语言文学考试中获优。</dd>
                
                <dt>1924年5月</dt>
                <dd>路易斯接受了大学学院为期一年的临时教席，担任哲学教师。</dd>
                
                <dt>1924年10月14日</dt>
                <dd>路易斯在牛津大学第一次讲课，题目是“善在价值观念中的地位”。</dd>
                
                <dt>1925年5月20日</dt>
                <dd>路易斯被选为牛津大学玛格德琳学院(<a href="https://en.wikipedia.org/wiki/Magdalen_College,_Oxford">Magdalen College,</a>)的研究员。</dd>
                
                <dt>1926年1月23日</dt>
                <dd>在牛津大学文学院，路易斯作为教师首次授课，讲题为“18世纪浪漫注意运动的若干先驱”。</dd>
                
                <dt>1926年5月11日</dt>
                <dd>路易斯和托尔金相遇。</dd>

                <dt>1926年9月20日</dt>
                <dd>伦敦邓特出版社出版了《戴摩尔》(<a href="https://en.wikipedia.org/wiki/Dymer">Dymer</a>)，路易斯采用笔名克莱夫·汉密尔顿。</dd>
                
                <dt>1929年7月25日</dt>
                <dd>路易斯的父亲阿尔伯特被诊断患有癌症。</dd>
                
                <dt>1929年8月13日</dt>
                <dd>路易斯回到贝尔福斯特，看护生病临终的父亲阿尔伯特。</dd>
                
                <dt>1929年9月25日</dt>
                <dd>路易斯的父亲阿尔伯特去世，享年66岁。</dd>

                <dt>1930年10月</dt>
                <dd>路易斯和各个沃伦、詹尼·摩尔夫人、她的女儿莫琳、狗 &mdash; 帕普沃思搬进牛津附近的新居 &mdash; “窑房”(The Kilns)，路易斯在此一直居住到去世。</dd>
                
                <dt>1931年9月28日</dt>
                <dd>路易斯坐在哥哥沃伦摩托车的边车上去维普斯内德动物园时，恢复了他的信仰，相信“耶稣基督是上帝的儿子”。</dd>
                
                <dt>1932年8月</dt>
                <dd>路易斯开始写作《天路回程》<a href="https://en.wikipedia.org/wiki/The_Pilgrim%27s_Regress">(The Pilgrim's Regress)。</a></dd>
                
                <dt>1932年12月</dt>
                <dd>沃伦·路易斯在皇家陆军勤务团服役18年后退役，住进牛津的“窑房”。</dd>
                
                <dt>1933年5月25日</dt>
                <dd>《天路回程》一书由伦敦的邓特出版社公司出版。</dd>
                
                <dt>1936年5月21日</dt>
                <dd>《爱的隐喻》(<a href="https://en.wikipedia.org/wiki/The_Allegory_of_Love">The Allegory of Love</a>)由牛津克莱伦顿出版社出版。</dd>

                <dt>1938年9月23日</dt>
                <dd>伦敦伯德里·海德(<a href="https://en.wikipedia.org/wiki/The_Bodley_Head">The Bodley Head</a>)出版社出版《来自寂静的行星》（<a href="https://en.wikipedia.org/wiki/Out_of_the_Silent_Planet">Out of the Silent Planet</a> 路易斯《太空三部曲》的第一部。）</dd>
                
                <dt>1939年4月27日</dt>
                <dd>《个人的异端邪说》(<a href="https://en.wikipedia.org/wiki/The_Personal_Heresy">The Personal Heresy</a>)由牛津大学出版社出版。</dd>
                
                <dt>1939年9月2日</dt>
                <dd>第一批从战时伦敦撤退的孩子到达“窑房”。</dd>
                
                <dt>1939年9月3日</dt>
                <dd>英法对德宣战。</dd>

                <dt>1939年10月22日</dt>
                <dd>路易斯在伊文逊牛津大学童贞女玛丽亚教堂布道，题目是“战时心得”。</dd>
                
                <dt>1940年7月</dt>
                <dd>路易斯构思《魔鬼家书》(<a href="https://en.wikipedia.org/wiki/The_Screwtape_Letters">The Screwtape Letters</a> 中文版亦称为《地狱来鸿》)。</dd>

                <dt>1940年10月18日</dt>
                <dd>伦敦世纪出版社出版《痛苦的奥秘》(<a href="https://en.wikipedia.org/wiki/The_Problem_of_Pain">The Problem of Pain</a>)</dd>
                
                <dt>1941年5月</dt>
                <dd>《<a href="https://zh.wikipedia.org/wiki/%E8%A1%9B%E5%A0%B1">卫报</a>》开始每周连载《魔鬼家书》。</dd>
                
                <dt>1941年6月</dt>
                <dd>路易斯在牛津大学的童贞女玛丽亚教堂作了一系列讲道，题为“荣耀的重负(<a href="https://en.wikipedia.org/wiki/The_Weight_of_Glory_and_Other_Addresses">The Weight of Glory</a>)”。</dd>
                
                <dt>1941年8月6日</dt>
                <dd>路易斯在英国广播公司（BBC）第一次就“是与非”发表讲话，讲话共有实词。这些讲话后来出版在《广播讲话》中（1942），构成了《返璞归真》(<a href="https://en.wikipedia.org/wiki/Mere_Christianity">Mere Christianity</a>)的第一部分。</dd>

                <dt>1942年1月11日</dt>
                <dd>路易斯在英国广播公司做了第二个系列演讲，题为《基督徒的信念》。这些演讲后来以《广播讲话》为题出版（美国版名为《为基督教辩护》），并被收入《返璞归真》第二卷。</dd>
                
                <dt>1942年1月26日</dt>
                <dd>牛津大学萨默维尔学院的苏格拉底俱乐部召开第一次例会，路易斯担任首任主席。</dd>
                
                <dt>1942年2月9日</dt>
                <dd>《魔鬼家书》一书由伦敦杰弗里·布莱斯公司出版。</dd>
                
                <dt>1942年7月13日</dt>
                <dd>杰弗里·布莱斯出版社出版《广播讲话》，其中包括路易斯在英国广播公司的讲话“从是与非中：发现宇宙的含义”和“基督徒的信念”。</dd>

                <dt>1942年9月20日</dt>
                <dd>路易斯在英国广播公司就“基督徒的行为”发表了9次讲话。路易斯后来扩充了这些讲话，使之成为《返璞归真》的第三部分。</dd>
                
                <dt>1942年10月8日</dt>
                <dd>牛津大学出版社出版《失乐园序》(<a href="https://en.wikipedia.org/wiki/A_Preface_to_Paradise_Lost">A Preface to Paradise Lost</a>)。</dd>
                
                <dt>1943年1月6日</dt>
                <dd>《人之废》(<a href="https://en.wikipedia.org/wiki/The_Abolition_of_Man">The Abolition of Man</a>)一书由牛津大学出版社出版。</dd>
                
                <dt>1943年2月24日</dt>
                <dd>路易斯发表《里德尔纪念讲座三讲》中的第一篇演讲，这三篇演讲后来付梓成为《人之废》。</dd>
                
                <dt>1943年4月19日</dt>
                <dd>《基督徒的行为：广播讲话续集》由伦敦杰弗里·布莱斯/世纪出版社出版。</dd>
                
                <dt>1944年2月22日</dt>
                <dd>路易斯第一次在BBC发表题为“<a href="https://www.youtube.com/watch?v=qPVf-exCgEo">超越个性</a>”的演讲，该演讲共7篇。</dd>

                <dt>1943年4月20日</dt>
                <dd>由伦敦伯德里·海德公司出版《金星之旅》(<a href="https://en.wikipedia.org/wiki/Perelandra">Voyage to Venus</a>)（路易斯《太空三部曲》之二）。</dd>
                
                <dt>1944年5月28日</dt>
                <dd>五旬节庆典，路易斯在牛津曼斯菲尔德学院的教堂做了题为“换位”的讲道。</dd>
                
                <dt>1944年10月9月</dt>
                <dd>伦敦杰弗里·布莱斯/世纪出版社出版《超越个性》（该书后来构成《返璞归真》的第四部分）。</dd>
                
                <dt>1944年11月6日</dt>
                <dd>路易斯向牛津大学苏格拉底俱乐部宣读“神学是诗吗？”，该问后来发表在《苏格拉底文摘》第三期（1945）。</dd>

                <dt>1944年11月10日</dt>
                <dd>路易斯的《天渊之隔》以每周一期的形式首次在《卫报》上连载发表，十五周连载完毕。</dd>
                
                <dt>1944年12月13日</dt>
                <dd>路易斯发表题为“圈内”的讲话，作为伦敦大学国王学院每年一度的“纪念演说”。</dd>
                
                <dt>1945年2月10日</dt>
                <dd>路易斯向牛津的圣阿尔班社团和圣瑟吉乌斯社团朗读“作为肢体”一文。</dd>
                
                <dt>1945年5月7日</dt>
                <dd>第二次世界大战在欧洲结束。</dd>
                
                <dt>1945年5月15日</dt>
                <dd>路易斯的好友“淡墨会”成员查尔斯·威廉姆斯去世，享年58岁。</dd>
                
                <dt>1945年8月16日</dt>
                <dd>伦敦伯德里·海德出版社出版《可怕的力量 <a href="https://en.wikipedia.org/wiki/That_Hideous_Strength">That Hideous Strength</a> 》（路易斯《太空三部曲》的最后一部。）</dd>
                
                <dt>1946年1月14日</dt>
                <dd>杰弗里·布莱斯/世纪出版社出版《天渊之隔 <a href="https://en.wikipedia.org/wiki/The_Great_Divorce">The Great Divorce</a> 》。</dd>

                <dt>1946年6月28日</dt>
                <dd>路易斯在苏格兰圣安德鲁学院接受荣誉神学博士学位。</dd>
                
                <dt>1947年5月12日</dt>
                <dd>伦敦的杰弗里·布莱斯/世纪出版社出版《奇迹 <a href="https://en.wikipedia.org/wiki/Miracles_(book)">Miracles</a> 》。</dd>
                
                <dt>1947年8月28日</dt>
                <dd>路易斯应帕特里克·凯文·欧文神父的要求，为剑桥郡索斯顿圣玛利亚教堂的教区杂志撰写“论赦免”。</dd>
                
                <dt>1947年9月8日</dt>
                <dd>《时代周刊》杂志封面刊登路易斯的<a href="http://content.time.com/time/covers/0,16641,19470908,00.html">照片</a>，标题是“牛津的路易斯，他的异端邪说：基督教”。</dd>

                <dt>1949年10月20日</dt>
                <dd>“淡墨会”在玛格德琳学院路易斯家中举行最后一次有记载的星期四晚上的聚会，星期二上午在“老鹰于幼鹰”酒馆里屋的聚会仍然继续。</dd>
                
                <dt>1950年1月10日</dt>
                <dd>路易斯收到美国的崇拜者，乔伊·戴维曼·格雷珊(<a href="https://en.wikipedia.org/wiki/Joy_Davidman">Joy Davidman</a> )寄来的第一封信。</dd>

                <dt>1950年10月16日</dt>
                <dd>伦敦杰弗里·布莱斯出版社出版《狮子、女巫和衣橱》(<a href="https://en.wikipedia.org/wiki/The_Lion,_the_Witch_and_the_Wardrobe"> The Lion, the Witch and the Wardrobe</a>)，《纳尼亚传奇》(<a href="https://en.wikipedia.org/wiki/The_Chronicles_of_Narnia">The Chronicles of Narnia</a>)第一部</dd>
                
                <dt>1951年1月12日</dt>
                <dd>詹妮·金·摩尔（摩尔夫人）在牛津去世，享年78岁，安葬在牛津海丁顿采石场的圣三一教堂。摩尔夫人是路易斯战友帕迪·摩尔的母亲。自从帕迪在第一次世界大战中牺牲后，路易斯一直负责照管她和她的女儿莫琳。</dd>
                
                <dt>1951年10月15日</dt>
                <dd>杰弗里·布莱斯出版社出版《凯斯宾王子》(<a href="https://en.wikipedia.org/wiki/Prince_Caspian">Prince Caspian</a>)，《纳尼亚传奇》第二部。</dd>
                
                <dt>1952年7月7日</dt>
                <dd>杰弗里·布莱斯出版社出版《返璞归真》，该版本修订扩充路易斯的《广播讲话》、《基督徒的行为》
                《超越个性》。</dd>
                
                <dt>1952年9月15日</dt>
                <dd>杰弗里·布莱斯出版社出版《黎明踏浪者号》(<a href="https://en.wikipedia.org/wiki/The_Voyage_of_the_Dawn_Treader">The Voyage of the Dawn Treader</a>)，《纳尼亚传奇》第三部。</dd>

                <dt>1952年9月24日</dt>
                <dd>路易斯和乔伊·戴维曼·格雷珊(<a href="https://en.wikipedia.org/wiki/Joy_Davidman">Joy Davidman</a> )第一次见面，在牛津东门宾馆共进午餐。</dd>
                
                <dt>1953年9月7日</dt>
                <dd>杰弗里·布莱斯出版社出版《银椅》(<a href="https://en.wikipedia.org/wiki/The_Silver_Chair">The Silver Chair</a>)，《纳尼亚传奇》第四部。</dd>
                
                <dt>1954年6月4日</dt>
                <dd>路易斯接受剑桥大学中世纪于文艺复兴时期英语文学系教授一职。</dd>
                
                <dt>1954年9月6日</dt>
                <dd>杰弗里·布莱斯出版社出版《能言马和王子》(<a href="https://en.wikipedia.org/wiki/The_Horse_and_His_Boy">The Horse and His Boy</a>)，《纳尼亚传奇》第五部。</dd>
                
                <dt>1954年9月16日</dt>
                <dd>伦敦克莱伦顿出版社出版《十六世纪的英国文学》。</dd>

                <dt>1954年11月</dt>
                <dd>路易斯在剑桥大学发表就职演讲“关于时代的分期”。</dd>
                
                <dt>1954年12月3日</dt>
                <dd>路易斯在接受剑桥大学的教授职位后，上完了他在牛津玛格德琳学院的最后一次指导课。</dd>

                <dt>1955年1月7日</dt>
                <dd>路易斯定居于剑桥大学的玛格德琳学院。</dd>
                
                <dt>1955年5月2日</dt>
                <dd>《魔术师的外甥》(<a href="https://en.wikipedia.org/wiki/The_Magician%27s_Nephew">The Magician's Nephew</a>)，《纳尼亚传奇》第六部由伦敦伯德里·海德公司出版。</dd>
                
                <dt>1955年7月</dt>
                <dd>路易斯当选为英国人文社会科学研究院委员。</dd>
                
                <dt>1955年9月19日</dt>
                <dd>杰弗里·布莱斯出版社出版《惊喜之旅：我的早年生活》(<a href="https://en.wikipedia.org/wiki/Surprised_by_Joy">Surprised by Joy</a>)。</dd>
                
                <dt>1956年1月29日</dt>
                <dd>路易斯在玛格德琳学院（剑桥）小教堂的晚祷中做了最后一次布道“口误”。</dd>

                <dt>1956年3月19日</dt>
                <dd>伦敦伯德里·海德出版社出版《最后的战役》(<a href="https://en.wikipedia.org/wiki/The_Last_Battle">The Last Battle</a>)，《纳尼亚传奇》第七部。</dd>
                
                <dt>1956年4月23日</dt>
                <dd>杰克·路易斯和乔伊·戴维曼·格雷珊在牛津圣吉尔斯街的登记处举办公证结婚仪式。</dd>
                
                <dt>1956年9月10日</dt>
                <dd>杰弗里·布莱斯出版社出版《裸颜》(<a href="https://en.wikipedia.org/wiki/Till_We_Have_Faces">Till We Have Faces</a>)。</dd>
                
                <dt>1956年10月19日</dt>
                <dd>乔伊·格雷珊·路易斯因股骨骨折住进温菲尔德医院，随后在此被诊断为患有多种癌症。</dd>

                <dt>1956年12月24日</dt>
                <dd>伦敦泰晤士报刊刊登了路易斯和乔伊结婚的通告。</dd>
                
                <dt>1957年3月21日</dt>
                <dd>杰克·路易斯和乔伊·戴维曼·格雷珊在温菲尔德-莫里斯医院一基督教的仪式举行了婚礼（二人已经在一年前登记结婚）。婚礼由彼得·拜德牧师主持。</dd>

                <dt>1957年4月</dt>
                <dd>乔伊·格雷珊·路易斯病愈的希望渺茫，于是离开医院，迁居“窑房”，与她的两个儿子，大卫和道格拉斯团聚。</dd>
                
                <dt>1957年12月</dt>
                <dd>乔伊的癌症缓和，健康状况继续好转，到圣诞节时已经能在房子和花园里走动。</dd>
                
                <dt>1958年7月</dt>
                <dd>路易斯和乔伊在爱尔兰度蜜月。</dd>
                
                <dt>1958年9月8日</dt>
                <dd>杰弗里·布莱斯出版社出版《<a href="https://book.douban.com/subject/1498372/">诗篇撷思</a>》(Reflections on the Psalms)</dd>
                
                <dt>1959年1月22日</dt>
                <dd>路易斯应坎特伯雷大主教杰弗里·费舍的邀请，出席《诗篇》修订委员会的第一次会议。</dd>

                <dt>1959年3月26日</dt>
                <dd>路易斯被选举为牛津大学学院的荣誉研究员。</dd>

                <dt>1959年5月13日</dt>
                <dd>路易斯在曼彻斯特大学获得文学博士学位。</dd>

                <dt>1959年10月</dt>
                <dd>杰弗里·布莱斯出版社出版《四种爱》(<a href="https://en.wikipedia.org/wiki/The_Four_Loves">The Four Loves</a>)。</dd>
                
                <dt>1960年4月</dt>
                <dd>得知乔伊的癌症复发，杰克和乔伊前往希腊度假。同行的还有罗杰·蓝色林·格林和他的太太乔伊。</dd>

                <dt>1960年5月20日</dt>
                <dd>乔伊做了最后一次手术。</dd>

                <dt>1960年7月13日</dt>
                <dd>乔伊·路易斯去世，享年45岁。</dd>
                
                <dt>1960年8月</dt>
                <dd>路易斯写了《卿卿如晤》(<a href="https://en.wikipedia.org/wiki/A_Grief_Observed">A Grief Observed</a>)。</dd>
                
                <dt>1960年9月9日</dt>
                <dd>剑桥大学出版社出版《语词研究》。</dd>
                
                <dt>1961年6月</dt>
                <dd>路易斯被诊断患有前列腺肿大，医生最终认为手术过于危险而不宜施行。</dd>
                
                <dt>1961年9月29日</dt>
                <dd>伦敦费伯与费伯出版社以克拉克的笔名出版了路易斯的《卿卿如晤》(<a href="https://en.wikipedia.org/wiki/A_Grief_Observed">A Grief Observed</a>)。</dd>

                <dt>1961年10月13日</dt>
                <dd>剑桥大学出版社出版《文学批评初探》。</dd>
                
                <dt>1963年7月15日</dt>
                <dd>路易斯在一次治疗中心脏病突发，住进奥克兰疗养院。</dd>
                
                <dt>1963年8月</dt>
                <dd>路易斯由于健康原因，辞去了剑桥的教职回家中，一直住在“窑房”。</dd>
                
                <dt>1963年11月22日</dt>
                <dd>路易斯在他65岁生日前一个星期，于下午5点30分在“窑房”去世，安葬在牛津海丁顿采石场圣三一教堂的墓地中。</dd>

                <dt>1964年1月27日</dt>
                <dd>伦敦杰弗里·布莱斯出版社出版《致马尔康书：关于祈祷》(<a href="https://en.wikipedia.org/wiki/Letters_to_Malcolm:_Chiefly_on_Prayer">Letters to Malcolm: Chiefly on Prayer</a>)。</dd>
                
                <dt>1964年5月7日</dt>
                <dd>剑桥大学出版社出版《被弃的形象》(<a href="https://en.wikipedia.org/wiki/The_Discarded_Image">The Discarded Image</a>)。</dd>
                
                <dt>1973年4月9日</dt>
                <dd>沃伦·路易斯去世，享年78岁。</dd>
                
                <dt>1973年9月2日</dt>
                <dd>路易斯的终身朋友、同事、“淡墨会”的成员托尔金去世，享年81岁。</dd>

                <dt>2013年11月22日</dt>
                <dd>在路易斯逝世50周年的纪念日，英国威斯敏斯特教堂(Westminster Abbey)在<a href="http://www.westminster-abbey.org/our-history/people/clive-staples-lewis">诗人角为路易斯立纪念碑</a>。</dd>
            </dl>
            
            <p>注: 以上年表主要摘自<a href="https://book.douban.com/subject/1915479/">《从岁首到年终-路易斯经典选粹》</a>一书。</p>
            
        </div>
    </div>
    <!-- Bio page ends -->
    
    <!-- Work page begins ======================================================================= -->
    <!-- Work page begins ======================================================================= -->
    <div id="work">
        
        <div class="eight columns" id="col1">
        
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>切今之事</h4>
                        <h5>Present Concerns</h5>
                    </div>
                    
                    <img src="{% static 'images/projects/01_present_concerns.jpg' %}" alt="Project 01" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 01 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>人之废</h4>
                        <h5>The Abolition of Man</h5>
                    </div>
                    <img src="{% static 'images/projects/02_the_abolition_of_man.jpg' %}" alt="Project 02" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 02 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_02/index.html' %}'">View video</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>聆听智者</h4>
                        <h5>A Year with C.S.Lewis</h5>
                    </div>
                    <img src="{% static 'images/projects/03_a_year_with_lewis.jpg' %}" alt="Project 03" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 03 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>返璞归真</h4>
                        <h5>Mere Christianity</h5>
                    </div>
                    <img src="{% static 'images/projects/04_mere_christianity.jpg' %}" alt="Project 04" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 04 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>给孩子们的信</h4>
                        <h5>Letters to Children</h5>
                    </div>
                    <img src="{% static 'images/projects/05_letters_children.jpg' %}" alt="Project 05" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 05 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>裸颜</h4>
                        <h5>Till We Have Faces</h5>
                    </div>
                    <img src="{% static 'images/projects/06_till_we_have_faces.jpg' %}" alt="Project 06" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 06 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>痛苦的奥秘</h4>
                        <h5>The Problem of Pain</h5>
                    </div>
                    <img src="{% static 'images/projects/07_problem_pain.jpg' %}" alt="Project 07" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 07 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>四种爱</h4>
                        <h5>The Four Loves</h5>
                    </div>
                    <img src="{% static 'images/projects/08_four_loves.jpg' %}" alt="Project 08" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 08 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>卿卿如晤</h4>
                        <h5>A Grief Observed</h5>
                    </div>
                    <img src="{% static 'images/projects/09_grief_observed.jpg' %}" alt="Project 09" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 09 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>魔鬼家书</h4>
                        <h5>The Screwtape Letters</h5>
                    </div>
                    <img src="{% static 'images/projects/10_screwtape_letters.jpg' %}" alt="Project 10" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 10 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>荣耀之重</h4>
                        <h5>The Weight of Glory and Other Addresses</h5>
                    </div>
                    <img src="{% static 'images/projects/11_weight_of_glory.jpg' %}" alt="Project 11" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 11 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>文艺评论的实验</h4>
                        <h5>An Experiment in Criticism</h5>
                    </div>
                    <img src="{% static 'images/projects/12_experiment_in_criticism.jpg' %}" alt="Project 12" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 12 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>诗篇撷思</h4>
                        <h5>Reflections on the Psalms</h5>
                    </div>
                    <img src="{% static 'images/projects/13_reflecions_on_psalms.jpg' %}" alt="Project 13" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 13 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>天路回程</h4>
                        <h5>The Pilgrim's Regress</h5>
                    </div>
                    <img src="{% static 'images/projects/14_pilgrim_regress.jpg' %}" alt="Project 14" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 14 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>纳尼亚传奇</h4>
                        <h5>The Chronicles of Narnia</h5>
                    </div>
                    <img src="{% static 'images/projects/15_narnia.jpg' %}" alt="Project 15" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 08 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->

        </div><!-- col1 -->
        
        <!-- Even numbered projects are dynamically moved into this second column via JS -->
        <div class="eight columns" id="col2">
        </div>
    
    </div>
    <!-- Work page ends ========================================================================= -->

    <!-- About page begins ====================================================================== -->
    <div id="about">
        
        <!-- Column 1 begins ==================================================================== -->
        <div class="eight columns">
            
            <h3>About page header</h3>
            <p>
            Type &amp; Grids is a HTML5 template that focuses on typography and grids. It's responsive which means it looks great on all devices from desktops to laptops to tablets and mobile phones. It's super-customizable and comes with lots of nicely designed type and color themes. Download the <a href="http://www.typeandgrids.com/downloads/type_and_grids_free.zip">free zip file</a> to get started!
            </p>

        </div>
        <!-- Column 1 ends ====================================================================== -->
        
        <!-- Column 2 begins ==================================================================== -->
        <div class="eight columns">
            
            <img src="{% static 'images/about.jpg' %}" alt="About" />
            
            <ul class="linedList">
                <li><strong>Location:</strong> Stockholm, Sweden</li>
                <li><strong>Email:</strong> <a href="mailto:hello@ivandesignostrom.com">hello@ivandesignostrom.com</a></li>
                <li><strong>R&eacute;sum&eacute;:</strong> <a href="{% static 'resume.pdf' %}">resume.pdf</a></li>
                <li><strong>LinkedIn:</strong> <a href="http://www.linkedin.com/" target="_blank">www.linkedin.com/in/ivandesignostrom</a></li>
            </ul>
            
        </div>
        <!-- Column 2 ends ====================================================================== -->
        
    </div>
    <!-- About page ends ======================================================================== -->

	<!-- Footer begins ========================================================================== -->
	<footer class="sixteen columns">
		<hr />
		<ul id="footerLinks">
			<li>&copy; 2017 <a href="https://anifacc.github.io/about/">Lei Zhang</a>. All rights reserved.</li>
			<li><a href="mailto:z.l12@mail.scut.edu.cn"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</a></li>
			<li><a href="https://twitter.com/Jeremy_Anifacc" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>&nbsp;Twitter</a></li>
            <li><a href="http://weibo.com/ZhangXiaowoStef" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i>&nbsp;Weibo</a></li>
			<!--Notice: The "Powered by Type & Grids" link in the footer is required in the Free version. Upgrade to the Pro version if you would like to remove it.-->
			<li><a href="http://www.typeandgrids.com" target="_blank">Powered by Type &amp; Grids</a></li>
		</ul>
	</footer>
	<!-- Footer ends ============================================================================ -->
		
</div><!-- container -->
</body>
</html>