    <!-- Work page begins ======================================================================= -->
    <div id="work">
        
        <div class="eight columns" id="col1">
        
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>Project 01 Hover Title Goes Here</h4>
                        <h5>Optional Hover Subtitle</h5>
                    </div>
                    
                    <img src="{% static 'images/projects/project_01_desaturated.jpg' %}" alt="Project 01" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 01 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>Project 02 Hover Title Goes Here</h4>
                        <h5>Optional Hover Subtitle</h5>
                    </div>
                    <img src="{% static 'images/projects/project_02_desaturated.jpg' %}" alt="Project 02" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 02 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_02/index.html' %}'">View video</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>Project 03 Hover Title Goes Here</h4>
                        <h5>Optional Hover Subtitle</h5>
                    </div>
                    <img src="{% static 'images/projects/project_03_desaturated.jpg' %}" alt="Project 03" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 03 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>Project 04 Hover Title Goes Here</h4>
                        <h5>Optional Hover Subtitle</h5>
                    </div>
                    <img src="{% static 'images/projects/project_04_desaturated.jpg' %}" alt="Project 04" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 04 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>Project 05 Hover Title Goes Here</h4>
                    </div>
                    <img src="{% static 'images/projects/project_05_desaturated.jpg' %}" alt="Project 05" class="thumbnailImage" />
                </div>
                
                <div class="projectInfo">
                    <h4>Project 05 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
            <!-- Project begins ================================================================= -->
            <div class="project">
                
                <div class="projectThumbnail">
                    <svg class="thumbnailMask"></svg>
                    <div class="projectThumbnailHover">
                        <h4>Project 06 Hover Title Goes Here</h4>
                        <h5>Optional Hover Subtitle</h5>
                    </div>
                    <img src="{% static 'images/projects/project_06_desaturated.jpg' %}" alt="Project 06" class="thumbnailImage" />
                </div>
                    
                <div class="projectInfo">
                    <h4>Project 06 Title Goes Here</h4>
                    <div class="projectNavCounter"></div>
                    <div class="projectNav">
                        <div class="projectNavEnlarge"><button class="enlargeButton" onClick="window.location.href='{% static 'projects/project_01/index.html' %}'">View full-size</button></div>
                        <div class="projectNavClose"><button class="closeButton">Close</button></div>
                        <div class="projectNavButtons"><button class="prev"></button><button class="next"></button></div>
                    </div>
                    <p>
                        This is a description of the project. This text is optional and the site layout works fine without it. The slider above is swipe-enabled with hardware accelerated transitions so it works super smoothly on touch devices like the iPhone and iPad.
                    </p>
                    <ul>
                        <li><strong>Client:</strong> Wernham Hogg</li>
                        <li><strong>Role:</strong> Art Direction, Photography, Illustration</li>
                        <li><strong>Year:</strong> 2013</li>
                    </ul>
                </div>
                
            </div>
            <!-- Project ends =================================================================== -->
            
        </div><!-- col1 -->
        
        <!-- Even numbered projects are dynamically moved into this second column via JS -->
        <div class="eight columns" id="col2">
        </div>
    
    </div>
    <!-- Work page ends ========================================================================= -->